


<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">


    
    <!--====== Title ======-->
    <title>Завод Нефтесервисного Оборудования "Невьянские машины"</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="favicon.png" type="image/png">
        
    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="css/animate.css">
        
    <!--====== Glide CSS ======-->
    <link rel="stylesheet" href="css/glide.core.css">
        
    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="css/LineIcons.2.0.css">
        
    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="css/bootstrap-5.0.5-alpha.min.css">
    
    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="css/default.css">
    
    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!--====== PRELOADER PART START ======-->

    <div class="preloader">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->

    <section id="home" class="header_area">
        <div id="header_navbar" class="header_navbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="">
                                <img src="images/NM.png">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="page-scroll active" href="#home">О компании</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#about">Оборудование</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#services">Услуги</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#portfolio">Проекты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#team">Команда</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#blog">Координаты</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#contact">Напиште нам &nbsp&nbsp&nbsp&nbsp</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header navbar -->

        <div class="header_hero">
            <div class="single_hero bg_cover d-flex align-items-center" style="background-image: url(images/hero.jpg)">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10">
                            <div class="hero_content text-center">
                                <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Завод Нефтесервисного Оборудования</br> "Невьянские машины"</h2>
                                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Завод занимается проектированием и изготовлением оборудования для нефтедобычи, а также других направлений машиностроительного профиля. Основной вид продукции - Кабина бурильщика взрывозащищенная с пультом. Предприятие имеет цех сварочного и сборочного производства, инженерно-технический отдел, обладающий многолетним опытом проектирования буровой техники.</p>
                                <a href="#features" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.8s">Почему выбирают нас</a>
                            </div> <!-- hero content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single hero -->
        </div> <!-- header hero -->
    </section>

    <!--====== HEADER PART ENDS ======-->
    
    <!--====== FEATURES PART START ======-->

    <section id="features" class="features_area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Почему выбирают нас</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">*Опрос проводился среди 15 нефтесерыисных компаний.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7">
                    <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.2s">
                        <i class="lni lni-layers"></i>
                        <h4 class="features_title">Надежный поставщик</a></h4>
                        <p>Отгрузка точно в срок</p>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.4s">
                        <i class="lni lni-layout"></i>
                        <h4 class="features_title">Собственный инжиниринговый центр</a></h4>
                        <p>Конструкторское бюро с многолетним стажем</p>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.6s">
                        <i class="lni lni-bolt"></i>
                        <h4 class="features_title">Собственное производство</a></h4>
                        <p>Сварочный и сборочный цех позволяет не зависеть от внешних факторов</p>
                    </div> <!-- single features -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== FEATURES PART ENDS ======-->
    
    <!--====== ABOUT PART START ======-->

    <section id="about" class="pt-130">
        <div class="about_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about_content pt-120 pb-130">
                            <div class="section_title pb">
                                <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Оборудование</h4>
                                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Кабина бурильщика взрывозащищенная</p>
                                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">Кабина может располагается во взрывоопасной зоне класса «зона 
                                1» и ниже с видом взрывозащиты под избыточным давлением "рb" по ГОСТ 31610.13-
                                2019 и оболочки (пульта бурильщика) под избыточным давлением "рxb" по ГОСТ IEC 
                                60079-2-2013. Кабина отвечает требованиям «Правил безопасности в нефтяной и газовой 
                                промышленности», утвержденных приказом Ростехнадзора №534 от 15.12.2020 г. 
                                 </p>
                            </div> <!-- section title -->
                            <a href="#" class="main-btn wow fadeInUp" data-wow-duration="1.3s"
                                data-wow-delay="0.7s">Больше информации о компании</a>
                        </div> <!-- about content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            
            <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
                style="background-image: url(images/about.jpg)">
                <div class="image_content">
                    <h4 class="experience"><span>12</span> месяцев гарантия</h4>
                </div>
            </div> <!-- about image -->
        </div>
    </section>

    <!--====== ABOUT PART ENDS ======-->
    
    <!--====== FEATURES PART START ======-->

    <section id="services" class="features_area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Наши услуги</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Поставляем оборудование и не только</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.2s">
                        <i class="lni lni-briefcase"></i>
                        <h4 class="features_title">Выезд на замеры</h4>
                        <p>Готовы выезжать на замеры и учитывать детали клиента</p>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.3s">
                        <i class="lni lni-clipboard"></i>
                        <h4 class="features_title">Индивидуальное производство</h4>
                        <p>Проектирование под конкретного заказчика</p>
                    </div> <!-- single features -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.4s">
                        <i class="lni lni-target-revenue"></i>
                        <h4 class="features_title">Пост-гарантийное обслуживание</h4>
                        <p>Всегда готовы решать проблемы клиента после окончания гарантийного срока.</p>
                    </div> <!-- single features -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== FEATURES PART ENDS ======-->
    
    <!--====== PORTFOLIO PART START ======-->

    <section id="portfolio" class="portfolio_area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-60">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Наши проекты</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Мы по-настоящему гордимся своими проектами</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="portfolio_wrapper d-flex flex-wrap">
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                <img src="images/portfolio-1.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Кабина бурильщика</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                <img src="images/portfolio-3.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Пульт бурильщика</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                <img src="images/portfolio-2.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Правая часть</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
                <img src="images/portfolio-4.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Левая часть</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                <img src="images/portfolio-5.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Общий вид</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                <img src="images/portfolio-6.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Вид справа</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                <img src="images/portfolio-7.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Вид сбоку</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
            <div class="single_portfolio wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">
                <img src="images/portfolio-8.jpg" alt="portfolio">
                <div class="portfolio_content">
                    <ul class="meta">
                        <li><a href="#"><i class="lni lni-link"></i></a></li>
                    </ul>
                    <h5 class="portfolio_title">Вид изнутри модифицированная версия пульта</h5>
                </div> <!-- Single portfolio -->
            </div> <!-- portfolio wrapper -->
        </div> <!-- row -->
    </section>

    <!--====== PORTFOLIO PART ENDS ======-->
    
    <!--====== PRICING PART START ======-->

    <section id="pricing" class="pricing_area pt-120 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Основные преимущества кабин с подпором воздуха для зоны I являются</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">*по сравнению с другими типами кабин</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                            data-wow-delay="0.2s">
                            <h4 class="pricing_title">1 причина</h4>
                            <span class="price"> возможность</span>
                            <ul class="pricing_list">
                            <li> применения в кабине оборудования автоматизированной системы управления буровой установки (АСУ БУ) в общепромышленном 
                            исполнении. В частности, возможно применение промышленных панельных компьютеров с высокими вычислительными возможностями. Применение 
                            таких компьютеров позволяет проектировать системы визуализации и управления технологическими процессами бурения на более 
                            высоком уровне с меньшими затратами. </li>
                            </ul>
                        <a href="#" class="mian-btn">Выше</a>
                    </div> <!-- single pricing -->
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" 
                        data-wow-delay="0.3s">
                        <h4 class="pricing_title">2 причина</h4>
                        <span class="price">существенно</span>
                        <ul class="pricing_list">
                            <li> улучшены санитарно-гигиенические 
                            показателям микроклимата в кабине. Обеспечивается необходимое избыточное давление 
                            (не менее 50 Па) и воздухообмен чистого воздуха 
                            (не менее 250 м³/ч) в соответствии со СНиП СП 60.13330.2020. Свод правил. Отопление,
                            вентиляция и кондиционирование воздуха. Cнижено содержание пыли и практически полностью 
                            отсутствуют взрывоопасные смеси.</li>
                        </ul>
                        <a href="#" class="mian-btn">Выше</a>
                    </div> <!-- single pricing -->
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single_pricing text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                        data-wow-delay="0.4s">
                        <h4 class="pricing_title">3 причина</h4>
                        <span class="price">используется</span>
                        <ul class="pricing_list">
                            <li> система приточной вентиляции 
                            совмещенная с системой отопления. Тэны общей мочностью 8 кВт нагревают воздух в взрывобезопасной зоне, 
                            высоко-производительный вентилятор через обратный клапан подает нагретый воздух в кабину бурильщика, чем создаются 
                            благоприятные климатические условия в холодное время года</li>
                        </ul>
                        <a href="#" class="mian-btn">Order Now</a>
                    </div> <!-- single pricing -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PRICING PART ENDS ======-->
    
    <!--====== TEAM PART START ======-->

    <section id="team" class="team_area pt-120 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Наша команда</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">У нас трудится более 15 высококвалифицированных специалтстов. Основные из них</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center team_active">
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
                        <img src="images/Simonov.jpg" alt="team">
                        
                        <div class="team_content">
                            <h4 class="team_name"><a href="#">Симонов Владислав</a></h4>
                            <p>Генеральный директор</p>

                        </div>
                    </div> <!-- single team -->
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
                        <img src="images/Koshpormak.jpg" alt="team">
                        
                        <div class="team_content">
                            <h4 class="team_name"><a href="#">Кошпормак Дмитрий</a></h4>
                            <p>Главный конструктор</p>
                        </div>
                    </div> <!-- single team -->
                </div>
                <div class="col-lg-4 col-md-8 col-sm-10">
                    <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
                        <img src="images/team-3.jpg" alt="team">
                        
                        <div class="team_content">
                            <h4 class="team_name"><a href="#">Николай</a></h4>
                            <p>Главный технолог</p>
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- single team -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TEAM PART ENDS ======-->
    
    <!--====== TESTIMONIAL PART START ======-->

    <section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover" style="background-image: url(images/testimonial.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="glide testimonial_active">
                        <div class="glide__track" data-glide-el="track">
                            <div class="glide__slides">
                                <div class="glide__slide single_testimonial text-center">
                                    <img src="images/author-1.jpg" alt="author">
                                    <h5 class="author_name">НПЦ Металлург</h5>
                                    <span>Екатеринбург</span>
                                    <p>Отгружено 4 кабины</p>
                                </div>
                                <div class="glide__slide single_testimonial text-center">
                                    <img src="images/author-2.jpg" alt="author">
                                    <h5 class="author_name">Л-Старт</h5>
                                    <span>Москва</span>
                                    <p>Отгружено 2 кабины</p>
                                </div>
                                <div class="glide__slide single_testimonial text-center">
                                    <img src="images/author-3.jpg" alt="author">
                                    <h5 class="author_name">Идель Нефтемаш</h5>
                                    <span>Ишимбай</span>
                                    <p>В изготовлении 2 кабины</p>
                                </div>
                            </div>
                        </div>
                        <div class="glide__bullets" data-glide-el="controls[nav]">
                            <button class="glide__bullet" data-glide-dir="=0"></button>
                            <button class="glide__bullet" data-glide-dir="=1"></button>
                            <button class="glide__bullet" data-glide-dir="=2"></button>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART ENDS ======-->
    
    <!--====== BLOG PART START ======-->

    <section id="blog" class="blog_area pt-120 pb-130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Наши Координаты</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">620144, г. Екатеринбург, ул. Фурманова, 109, офис 308, office@znsonm.ru,  тел. +7 995-746-17-79 </p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    
                        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/nevyanskiye_mashiny/89002441477/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Невьянские машины</a><a href="https://yandex.ru/maps/54/yekaterinburg/category/machine_building/184106628/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Машиностроительный завод в Екатеринбурге</a><iframe src="https://yandex.ru/map-widget/v1/?ll=60.593441%2C56.813321&mode=search&oid=89002441477&ol=biz&utm_source=ntp_chrome&z=16.54" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                    
                </div>
               
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== BLOG PART ENDS ======-->
    
    <!--====== CONTACT PART START ======-->

    <section id="contact" class="contact_area bg_cover pt-120 pb-130" style="background-image: url(images/contact_bg.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title section_title_2 text-center pb-25">
                        <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Напиште нам</h4>
                        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Будем ждать обратной связи</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            
            <form id="contact-form" action="assets/contact.php" method="post" class="wow fadeInUp"
                data-wow-duration="1.3s" data-wow-delay="0.4s">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input type="text" placeholder="Имя" name="name" id="name" required>
                        </div> <!-- single form -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input type="email" placeholder="Email" name="email" id="email" required>
                        </div> <!-- single form -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input type="text" placeholder="Телефон" name="number" id="number" required>
                        </div> <!-- single form -->
                    </div>
                    <div class="col-lg-6">
                        <div class="single_form">
                            <input type="text" placeholder="Тема письма" name="subject" id="subject" required>
                        </div> <!-- single form -->
                    </div>
                    <div class="col-lg-12">
                        <div class="single_form">
                            <textarea placeholder="Сообщение" name="message" id="message" required></textarea>
                        </div> <!-- single form -->
                    </div>
                    
                    <p class="form-message"></p>
                    
                    <div class="col-lg-12">
                        <div class="single_form text-center">
                            <button class="main-btn" type="submit">Отправить</button>
                        </div> <!-- single form -->
                    </div>
                </div> <!-- row -->
            </form>
        </div> <!-- container -->
    </section>

    <!--====== CONTACT PART ENDS ======-->
    
    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer_area">
        <div class="container">
            <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
                <p class="credit">Kosh <a href="https://vk.com/koshpormak" rel="nofollow">LTD</a></p>
            </div> <!-- footer wrapper -->
        </div> <!-- container -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    
    <!--====== Bootstrap js ======-->
    <script src="assets/js/bootstrap.bundle-5.0.0.alpha-min.js"></script>
    
    <!--====== glide js ======-->
    <script src="assets/js/glide.min.js"></script>
    
    <!--====== wow js ======-->
    <script src="assets/js/wow.min.js"></script>
    
    <!--====== Contact Form js ======-->
    <script src="assets/js/contact-form.js"></script>
    
    <!--====== Main js ======-->
    <script src="assets/js/main.js"></script>
    
</body>

</html>